<ion-view view-title="Photo">
  <ion-content>

    <ion-list>
        <div>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                <img ng-src="{{users.face}}">
                <h2><b>{{users.name}}</b></h2>
                <i class="icon ion-android-more-vertical"></i>
            </ion-item>
            <ion-item class="item item-image">
                <img ng-src="{{pictures.pic}}">
            </ion-item>
            <ion-item>
                <i class="icon ion-android-favorite-outline under_picture_icon"></i><i class="icon ion-ios-chatbubble-outline under_picture_icon"></i><i class="icon ion-ios-redo-outline under_picture_icon"></i>
            </ion-item>
            <p><i class="icon ion-android-favorite"></i> <b>{{pictures.likes}} likes</b>
            <br />
            <b>{{users.name}}</b> {{pictures.comments}}
            </p>
        </div>

    </ion-list>
  </ion-content>
</ion-view>
