<ion-view view-title="{{users.name}}">
  <ion-content ng-init="picture_view=0">
      <br />
    <div class="row rowBorder">
        <div class="profilePicture">
            <img ng-src="{{users.face}}" width="90" height="90">
        </div>
        <div class="profileSumUp alignCenter">
            <ion-item class="profileNumber"><b>53</b><br />posts</ion-item>
            <ion-item class="profileNumber" href="#/tab/users/{{users.id}}/followers"><b>81</b><br />followers</ion-item>
            <ion-item class="profileNumber" href="#/tab/users/{{users.id}}/following"><b>91</b><br />following</ion-item><br /><br /><br />
            <button class="followingButton">FOLLOWING</button>
        </div>
    </div>

      <div class="row rowBorder">
          <div class="col alignCenter">
              <a href="" class="button button-icon" ng-click="picture_view=0">
                  <i class="icon ion-grid" ng-if="picture_view!=0"></i>
                  <i class="icon ion-grid iconActive" ng-if="picture_view==0"></i>

              </a>
          </div><div class="col alignCenter">
                    <a href="" class="button button-icon" ng-click="picture_view=1">
                        <i class="icon ion-navicon" ng-if="picture_view!=1"></i>
                        <i class="icon ion-navicon iconActive" ng-if="picture_view==1"></i>

                    </a>
</div><div class="col alignCenter">
          <a href="" class="button button-icon" ng-click="picture_view=2">
              <i class="icon ion-android-pin"></i>

          </a>
</div><div class="col alignCenter">
          <a href="" class="button button-icon" ng-click="picture_view=3">
              <i class="icon ion-ios-briefcase-outline"></i>

          </a>
</div>

</div>
      <div ng-if="picture_view==0">
          <div class="row" ng-repeat="picture in pictures" ng-if="$index % 3 === 0">
              <div class="col col-33 colNoPadding" ng-if="$index < pictures.length">
                  <a href="#/tab/users/{{users.id}}/{{pictures[$index].id}}"><img ng-src="{{pictures[$index].pic}}" width="100%" /></a>
              </div>
              <div class="col col-33 colNoPadding" ng-if="$index + 1 < pictures.length">
                  <a href="#/tab/users/{{users.id}}/{{pictures[$index + 1].id}}"><img ng-src="{{pictures[$index + 1].pic}}" width="100%" /></a>
</div>
              <div class="col col-33 colNoPadding" ng-if="$index + 2 < pictures.length">
                  <a href="#/tab/users/{{users.id}}/{{pictures[$index + 2].id}}"><img ng-src="{{pictures[$index + 2].pic}}" width="100%" /></a>
</div>
          </div>
      </div>
      <div ng-if="picture_view==1">
          <div ng-repeat="picture in pictures">
              <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                  <img ng-src="{{users.face}}">
                  <h2><b>{{users.name}}</b></h2>
                  <i class="icon ion-android-more-vertical"></i>
              </ion-item>
              <ion-item class="item item-image">
                  <img ng-src="{{picture.pic}}">
              </ion-item>
              <ion-item>
                  <i class="icon ion-android-favorite-outline under_picture_icon"></i><i class="icon ion-ios-chatbubble-outline under_picture_icon"></i><i class="icon ion-ios-redo-outline under_picture_icon"></i>
              </ion-item>
              <p>
                  <i class="icon ion-android-favorite"></i> <b>{{picture.likes}} likes</b>
                  <br />
                  <b>{{users.name}}</b> {{picture.comments}}
              </p>
          </div>
      </div>

    <ion-list>
    <!--<ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>-->
    </ion-list>
  </ion-content>
</ion-view>
