/* Empty. Add your own CSS if you like */
.under_picture_icon {
    font-size: 35px;
    margin-right: 20px;
}

.profileTabIcon {
    font-size: 35px;
text-align:center;
}

.following_you_button {
  height: 50px;
    width: 50%;
    background-color: white;
    border:0px;
  }
.camera_gallery_button {
  height: 50px;
    width: 50%;
    background-color: white;
    border:0px;
  }
.tags_people_button {
  height: 50px;
    width: 50%;
    background-color: white;
    border:0px;
  }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.alignCenter {
    text-align:center;
    vertical-align:central;
}
.rowBorder {
    margin:0px;
    padding:0px;
}
.profileButton {
    width:100%;
    height: 40px;
}

.iconActive {
    color: RoyalBlue ;
}

.profilePicture {
   float:left;
    
    background: url(http://placehold.it/50x50);
    background-repeat: no-repeat;
    background-size: cover;

    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;

    margin-right:10px;
}

.profileSumUp {
    width:70%;
    float:right;
}
.editButton {
    width:100%;
    border: 0px;
    height: 30px;

}

.followingButton {
    width:100%;
    border: 0px;
    height: 30px;
    background-color:palegreen;

}



.profileNumber {
    float: left;
    text-align: center;
    width: 33%;
}

.colNoPadding {
    margin: 1px 1px 1px 1px;
    padding: 0px;
}

.search{
    border-radius: 8px;
    width: 100%;
    height: 30px;
    margin: 5px auto;
    background-color: snow;
}
.search input{
    color: indianred;
}

